<div class="homepageContainer">

    <div class="welcomeText">
        <h1>welcome to my</h1>
        <h1 class="accentText">portfolio</h1>
    </div>

    <div class="infoText">
        <div>
            <p>Angela Slinker</p>
            <p>angela.r.slinker&#64;gmail.com</p>
        </div>
        <div>
            <p>( software engineer )</p>
        </div>
        <div>
            <p>Irvine, CA</p>
            <p>(801) 857-5885</p>
        </div>
    </div>

    <app-folder-icon *ngFor="let f of folders" [label]="f.label" [imgSrc]="f.imgSrc" [top]="f.top" [left]="f.left"
        (open)="openFolder(f.id)">
    </app-folder-icon>

    <app-dock></app-dock>

</div>