<div class="homepage-container">

    <app-folder-icon *ngFor="let f of folders" [label]="f.label" [imgSrc]="f.imgSrc" [top]="f.top" [left]="f.left"
        (open)="openFolder(f.id)">
    </app-folder-icon>

    <app-dock></app-dock>

</div>

<div class="modal-backdrop" *ngIf="selectedFolderId" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <ng-container [ngSwitch]="selectedFolderId">

            <!-- Resume folder -->
            <div *ngSwitchCase="'resume'" class="resume-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="assets/resume.pdf" download="Angela_Slinker_Resume.pdf" class="redirect-btn">
                        <h2 class="modal-header">📄 Download Resume.pdf</h2>
                    </a>
                </div>
                <img src="resume.pdf" alt="Resume" class="resume-image" />
            </div>

            <!-- Contact folder-->
            <div *ngSwitchCase="'contact'" class="project1-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="mailto:angela.r.slinker@gmail.com" target="_blank" class="redirect-btn">
                        <h2 class="modal-header">Email Me!</h2>
                    </a>
                </div>
                <img src="resume.pdf" alt="Resume" class="resume-image" />
            </div>


            <!-- Senior project folder-->

            <div *ngSwitchCase="'project1'" class="project-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="https://github.com/angelaslinker/Senior-Project" target="_blank" class="redirect-btn">
                        <h2 class="modal-header">Go To Source Code</h2>
                    </a>
                </div>
                <div class="body-wrapper">
                    <img src="seniorproj.png" alt="Senior Project" class="project-image" />
                    <div class="project-descripton">
                        <p class="full-description">My senior project is a dynamic webpage showcasing my proficiency in
                            HTML, CSS, and JavaScript. It
                            features a magazine-style display of rotating articles, enabling users to access content and
                            shop while incorporating a secure database for user login and logout functionality.

                        </p>
                        <p class="technologies-description">
                            HTML
                            CSS
                            JavaScript
                        </p>
                    </div>
                </div>
            </div>

            <!-- Fullstack showcase folder-->

            <div *ngSwitchCase="'project2'" class="project-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="https://github.com/angelaslinker/WDD-430" target="_blank" class="redirect-btn">
                        <h2 class="modal-header">Go To Source Code</h2>
                    </a>
                </div>
                <div class="body-wrapper">
                    <img src="fullstackshowcase.png" alt="Senior Project" class="project-image" />
                    <div class="project-descripton">
                        <p class="full-description">My senior project is a dynamic webpage showcasing my proficiency in
                            This project is a full-stack web application developed using Angular, Bootstrap, MongoDB,
                            and Node.js, demonstrating my ability to build comprehensive web solutions. The application
                            features an intuitive user interface for seamless interaction and management of dynamic
                            content, alongside a MongoDB database integration for efficient data handling and storage.
                        </p>
                        <p class="technologies-description">
                            Angular
                            Bootstrap
                            Node.js
                            MongoDB
                        </p>
                    </div>
                </div>
            </div>

            <!-- PHP Motors folder-->

            <div *ngSwitchCase="'project3'" class="project-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="https://github.com/angelaslinker/PHPMotors" target="_blank" class="redirect-btn">
                        <h2 class="modal-header">Go To Source Code</h2>
                    </a>
                </div>
                <div class="body-wrapper">
                    <img src="phpmotors.png" alt="Senior Project" class="project-image" />
                    <div class="project-descripton">
                        <p class="full-description">Webpage for vehicles that shows my skills with PHP and MySQL
                        </p>
                        <p class="technologies-description">
                            SQL
                            PHP
                            HTML
                            CSS
                        </p>
                    </div>
                </div>
            </div>
            <!-- Ecommerce website folder-->


            <div *ngSwitchCase="'project4'" class="project-modal">
                <div class="header-wrapper">
                    <div class="btn-container">
                        <button class="mac-btn close-btn" (click)="closeModal()" aria-label="Close"></button>
                        <button class="mac-btn sparkle-btn" aria-label="Minimize"></button>
                        <button class="mac-btn fullscreen-btn" aria-label="Fullscreen"></button>
                    </div>
                    <a href="https://github.com/angelaslinker/WDD330-Portfolio" target="_blank" class="redirect-btn">
                        <h2 class="modal-header">Go To Source Code</h2>
                    </a>
                </div>
                <div class="body-wrapper">
                    <img src="ecommerce.jpg" alt="Senior Project" class="project-image" />
                    <div class="project-descripton">
                        <p class="full-description">My senior project is a dynamic webpage showcasing my proficiency in
                            My classmates and I worked collaboratively to create a visually appealing site with a
                            seamless shopping experience for customers. The site features a variety of sleeping bags,
                            from basic to high-end, and includes a shopping cart and payment system. The code is
                            well-structured and organized, allowing for easy maintenance and updates.
                        </p>
                        <p class="technologies-description">
                            JavaScript
                            HTML
                            CSS
                            JSON
                            API's
                            Node
                        </p>
                    </div>
                </div>
            </div>


        </ng-container>


    </div>
</div>