.dock-wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 1rem;
    overflow: visible;
}

.dock-link,
.dock-icon {
    display: inline-block;
}

.dock-icon {
    width: 46px;
    height: 48px;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: transform .2s;
    padding-top: 5px;
}

.dock-icon:hover {
    transform: translateY(-4px);
}