nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgrey;
    height: 30px;
    font-family: var(--font-primary);
    background-color: rgba(169, 169, 169, 0.4)
}

.angelaBtn {
    font-family: cursive;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
}

nav a:hover {
    cursor: pointer;

}

.date-time {
    color: white;
    margin-right: 2rem;

}

.weather {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoImage {
    width: 50px;
}

.left-container,
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem 0 2rem;
    color: white;

}

.angela-btn {
    font-weight: bold;
}