nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A7211D;
    margin: 10px 10px 0 10px;
    height: 50px;
    font-family: var(--font-primary);
    border-radius: 9999px;
    box-shadow: 2px 2px #941D1A
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;

}

.date-time {
    color: #EADDDA;
    margin-right: 2rem;

}

.weather {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoImage {
    width: 50px;
}

.leftContainer,
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem 0 2rem;
    color: #EADDDA;

}

.angelaBtn {
    font-weight: bold;
}